#login-side{
    border: 1px solid #f0f0f0;
    width: 25%;
    height: auto;
    margin: 10px;
    background-color: #fff;
    position: sticky;
    top: 65px;
    border-radius: 10px;
    outline: 0;
}
#container-login{
    padding: 5px;

    border-radius: 10px;

}
#form-container{
    padding: 10px;
    line-height: 30px;
    text-align: center;
    color: grey;

    border-radius: 10px;
}
form{
    text-align: initial;
    /*border: 1px solid black;*/
}
form label{
    margin-left: 20px;
}
form a{
    float: right;
    color: grey;
    text-decoration: none;
    margin-right: 10px;
}
.input-group{
    color: grey;
    line-height: 35px;
}


#submit-container{
    margin-top: 20px;

    border-radius: 10px;
}
#submit-container button{
    margin-left: 10px;
}
#submit-container button:hover{
    background-color: #03658c;
}
#submit-container a{
    float: right;
    margin-right: 20px;
}

#via-container{
    text-align: center;
    margin-top: 20px;
    padding: 10px;

    border-radius: 10px;
}

#register-container{
    text-align: center;
    margin-top: 20px;

    border-radius: 10px;
}
