#navBar{
    width: 100%;
    margin: 0;
    /*border: 1px solid blue;*/
    display: block;
    padding: 5px 100px;

    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

#navBar-container{
    width: 100%;
    margin: 0;
    /*border: 1px solid green;*/
}

#list-items{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
li{
    cursor: pointer;
}

li hr{
    display: inline;
    border: none;
    border-left: 1px solid grey;
    position: relative;
    top: 0;
    width: 1px;
    margin: 0 30px;
}

.right-item{
    float: right;
}
.left-item{
    float: left;
}