#navBar{
    width: 100%;
    margin: 0 !important;
    display: block;
    padding: 0 100px;
    position: sticky;
    top: 0 !important;
    background-color: #fff;
    z-index: 1;
}

#navBar-container{
    width: 100%;
    margin: 0;
    /*border: 1px solid green;*/
}

#list-items{
    display: block;
    /*border: 1px solid black;*/
}

.list-logo{
    /*border: 1px solid black;*/
    display: inline-block;
}

.list-news{
    border: 1px solid black;
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.list-news p{
    border: 1px solid black;
    display: inline;

}
.list-right{
    /*border: 1px solid black;*/
    display: inline-block;
    float: right;
    padding: auto;
    height: 100%;
}

li{
    cursor: pointer;
}



.right-item{
    float: right;
}
.left-item{
    float: left;
}