#hot-side{
    border: 1px solid grey;
    background-color: white;
    padding: 20px 0 20px 50px;
    width: 25%;
    margin: 10px;
    position: sticky;
    top: 55px;
}
#hot-side .item{
    cursor: pointer;
}
